body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}

h1 {
    font-size: 60px;
}

.card {
    background-color: cornflowerblue;
    color: white;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    font-size: 30px;
    align-content: center;
    user-select: none; 
    cursor: crosshair;
    transition: 300ms;
}

.card:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}